<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row row-fluid animated fadeInUp animate-content-panel">

            <!-- left column, to do list -->
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default panel-todo text-center">
                    <div class="panel-heading">
                        <strong>To Do List</strong>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item animated bounceInUp animate-content-body"><i class="em em-date emoji-left"></i>Car Loan: Talk to representative about refinancing Priority: High Due
                            Date: November 12th</li>
                        <li class="list-group-item animated bounceInUp animate-content-body"><i class="em em-date emoji-left"></i>Checking: Transfer Money to Mom Priority: Low Due Date: November 15th</li>
                        <li class="list-group-item animated bounceInUp
                        animate-content-body"><a class="btn btn-primary" href="/#/addToDo">Add To List</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- middle, upcoming transactions column -->
            <div class="col-xs-6 col-md-4">
                <div class="panel panel-default panel-todo text-center">
                    <div class="panel-heading">
                        <strong>Upcoming Transactions</strong>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item animated bounceInUp animate-content-body upcoming-transact-deduction"><i class="em em-car emoji-left"></i>  <strong class="spacer-left">Nov 08</strong>: Car (Nissan USA) <strong class="align-right">$361.04</strong></li>
                        <li class="list-group-item animated bounceInUp animate-content-body upcoming-transact-deduction"><i class="em em-telephone emoji-left"></i>  <strong class="spacer-left">Nov 10</strong>: Phone (Verizon) <strong class="align-right">$46.88</strong></li>
                        <li class="list-group-item animated bounceInUp animate-content-body upcoming-transact-deposit"><i class="em em-moneybag emoji-left"></i>  <strong class="spacer-left">Nov 15</strong>: Deposit (State of NE) <strong class="align-right">$7.82</strong></li>
                        <li class="list-group-item animated bounceInUp animate-content-body upcoming-transact-deposit"><i class="em em-moneybag emoji-left"></i>  <strong class="spacer-left">Nov 17</strong>: Annuity interest (Roth) <strong class="align-right">$13.81</strong></li>
                        <li class="list-group-item animated bounceInUp animate-content-body upcoming-transact-deduction"><i class="em em-house emoji-left"></i>  <strong class="spacer-left">Nov 28</strong>: Mortgage auto-draft <strong class="align-right">$1,006.00</strong></li>
                    </ul>
                </div>
            </div>

            <!-- middle, past transactions column -->
            <div class="col-xs-6 col-md-4">
                <div class="panel panel-default panel-todo text-center">
                    <div class="panel-heading">
                        <strong>Prior Transactions</strong>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item animated bounceInUp animate-content-body upcoming-transact-deduction"><i class="em em-coffee emoji-left"></i>  <strong class="spacer-left">Nov 06</strong>: Coffee (Starbucks) <strong class="align-right">$7.82</strong></li>
                        <li class="list-group-item animated bounceInUp animate-content-body upcoming-transact-deduction"><i class="em em-zap emoji-left"></i>  <strong class="spacer-left">Nov 05</strong>: Utility (OPPD) <strong class="align-right">$71.08</strong></li>
                        <li class="list-group-item animated bounceInUp animate-content-body upcoming-transact-deposit"><i class="em em-movie_camera emoji-left"></i>  <strong class="spacer-left">Nov 04</strong>: [2x] Theater (Aksarben Cin.) <strong class="align-right">$17.76</strong></li>
                        <li class="list-group-item animated bounceInUp animate-content-body upcoming-transact-deposit"><i class="em em-moneybag emoji-left"></i>  <strong class="spacer-left">Nov 04</strong>: Deposit (State of NE) <strong class="align-right">$130.65</strong></li>
                        <li class="list-group-item animated bounceInUp animate-content-body upcoming-transact-deduction"><i class="em em-house emoji-left"></i>  <strong class="spacer-left">Nov 01</strong>: Deposit (Union Pac.) <strong class="align-right">$999.99</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row row-fluid animated fadeInUp animate-content-panel">

            <!-- left column, to do list -->
            <div class="col-xs-12 col-md-9">
                <div class="panel panel-default panel-todo text-center">
                    <div class="panel-heading">
                        <strong>Account(s) Details</strong>
                    </div>
                    <div class="panel-home-accounts-body">
                        <!-- accounts --> <!-- ERIK -->
                        <div class="panel-home-accounts col-md-3">
                            <h3>Debit Card</h3><h4>(9876)</h4>
                            <p class="home-account-info"><p class="align-left">Current balance:</p><p class="align-right">$104.56</p></p>
                            <p class="home-account-info"><p class="align-left">Pending transactions:</p><p class="align-right">$0.00</p></p>
                        </div>
                        <div class="panel-home-accounts col-md-3">
                            <h3>Credit Card</h3><h4>(1234)</h4>
                            <p class="home-account-info"><p class="align-left">Current balance:</p><p class="align-right">$606.08</p></p>
                            <p class="home-account-info"><p class="align-left">Available credit:</p><p class="align-right">$0.00</p></p>
                            <p class="home-account-info"><p class="align-left">Monthly utilization:</p><p class="align-right">14%</p></p>
                        </div>
                        <div class="panel-home-accounts col-md-3">
                            <h3>Credit Card</h3><h4>(4545)</h4>
                            <p class="home-account-info"><p class="align-left">Current balance:</p><p class="align-right">$9,909.37</p></p>
                            <p class="home-account-info"><p class="align-left">Available credit:</p><p class="align-right">$13,450.01</p></p>
                            <p class="home-account-info"><p class="align-left">Monthly utilization:</p><p class="align-right">27%</p></p>
                        </div>
                        <div class="panel-home-accounts col-md-3">
                            <h3>Roth IRA</h3><h4>(8642)</h4>
                            <p class="home-account-info"><p class="align-left">Current balance:</p><p class="align-right">$16,930.39</p></p>
                            <p class="home-account-info"><p class="align-left">Cash Surrender:</p><p class="align-right">$13,450.01</p></p>
                            <p class="home-account-info"><p class="align-left">Interest Rate:</p><p class="align-right">2.15%</p></p>
                        </div>
                    </div>
                </div> <!-- class panel -->
            </div> <!-- /.col -->

            <!-- right column, to do list -->
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default panel-todo text-center">
                    <div class="panel-heading">
                        <strong>Shortcuts</strong>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item animated bounceInUp animate-content-body">Pay Bills</li>
                        <li class="list-group-item animated bounceInUp animate-content-body">Payment Activity</li>
                        <li class="list-group-item animated bounceInUp animate-content-body">Balance Transfers</li>
                        <li class="list-group-item animated bounceInUp animate-content-body">Profile</li>
                        <li class="list-group-item animated bounceInUp animate-content-body">Settings</li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>  <!-- /.row -->
    </div>  <!-- / container -->

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row well row-fluid animated fadeInUp animate-content-panel">
            <div class="col-lg-9 col-md-9">
                <h4 class="animated bounceInUp animate-content-body">Personalized budget analysis!</h4>
                <p class="animated bounceInUp animate-content-body">Enjoy the convenience of visualizing your budget, as well as past transaction data in order to
                improve your financial world.</p>
            </div>
            <div class="col-lg-3 col-md-3">
                <a class="btn btn-lg btn-primary pull-right animated bounceInUp
                animate-content-body" href="/#/budget">View Financial Analysis</a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<!-- /.container -->
