<footer>
    <div class="container container-footer">
        <ul class="list-inline pull-right social-list">
            <li><img src="./images/fdic.png" height="35px" widtch="50px"/>
            </li>
            <li><img src="./images/equalHousingLender.png" height="40px"
                                                           width="35px"/>
            </li>
            <li><a
            href="https://www.facebook.com/fnbomaha/"
            class="btn
            btn-default
            social-icon"><i
            class="fa
            fa-facebook"></i></a></li>
            <li><a
            href="https://twitter.com/FNBOmaha"
            class="btn
            btn-default
            social-icon"><i
            class="fa
            fa-twitter"></i></a></li>
            <li><a
            href="https://www.youtube.com/user/FNBOmaha"
            class="btn
            btn-default
            social-icon"><i
            class="fa
            fa-youtube"></i></a></li>
        </ul>
    </div>
</footer>
