<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand animated slideInDown navbar-logo-slide" href="#/">
                <img class="fnb-logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/" class="animate-navbar-links animated slideInDown">Home</a>
                </li>
                <li><a href="#/addToDo" class="animate-navbar-links animated slideInDown">To Do List</a>
                </li>
                <li><a href="#/services" class="animate-navbar-links animated slideInDown">Accounts</a>
                </li>
                <li><a href="#/budget" class="animate-navbar-links animated slideInDown">Budget Analysis</a>
                </li>
                <!--
                <li><a href="#/about" class="animate-navbar-links animated slideInDown">About</a>
                </li>
                <li><a href="#/faq" class="animate-navbar-links animated slideInDown">FAQ</a>
                </li>
                <li><a href="#/contact" class="animate-navbar-links animated slideInDown">Contact</a>
                </li>
                --!>
                <li class="dropdown">
                    <a class="dropdown-toggle animated animate-new-message
                    tada" data-toggle="dropdown"><strong>Messages <b class="caret"></b></strong></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/services"><strong>Below Minimum Balance ($150)</strong></a></li>
                        <li><a href="#">Annuity Interest Increase</a></li>
                        <li><a href="#">Cash Surrender Value Inquiry</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
